body {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-width: 100%;

}
#home {
    display: flex;
    flex-direction: column;
}
.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: gold;
}
.instructions > p {
    color: whitesmoke;
}

.weapons {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

#battle {
    display: none;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.weapons > div > button {
    width: 100px;
    align-self: center;
    padding: 10px;
}
#gameOver {
    display: none;
}
.player > h2 {
    color: gold;
    font-weight: 700;
    font-size: 40px;
}

#final {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#final > h1 {
    font-size: 75px;
    font-weight: 700;
    color: gold;
}
#final > button {
    width: 100px;
    padding: 10px;
}
.weapons {
    padding: 10px;
}
.weapons > div {
    min-width: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}
.weapons > div > img { 
    min-width: 0;
    max-height: 250px;
    flex-shrink: 1;
    aspect-ratio: 1/1;
}
.weapons > div > h2 {
    flex-shrink: 2;
    flex-wrap: nowrap;
}
.player {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

.versus {
    flex-shrink: 1;
}

#playerWeapon {
    border: solid 10px rgb(30, 14, 77);
    border-radius: 50%;
}

#computerWeapon {
    border: solid 10px rgb(101, 29, 3);
    border-radius: 50%;
}

.score > h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.score > h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.choices > img {
    width: 200px;
    height: 200px;
    min-width: 0;
    border: solid 10px rgb(30, 14, 77);
    border-radius: 50%;
    flex-shrink: 1;
}

h1, h2, p {
    text-align: center;
}

p {
    font-size: 24px;
}