body {
    /*background-color: black;*/
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-width: 100%;

}
.scoreboard {
   /*display: flex;*/
    display: none;
    flex-direction: row;
    justify-content: space-around;
}
.weapons {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.battle {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    background-color: black;
    padding: 10px;
    width: 100%;
}

.player > h2 {
    color: gold;
    font-weight: 700;
    font-size: 40px;
}

.weapons {
    padding: 10px;
}
.weapons > div {
    min-width: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}
.weapons > div > img { /* > img */
    min-width: 0;
    max-height: 300px;
    flex-shrink: 1;
    aspect-ratio: 1/1;
}
.weapons > div > h2 {
    flex-shrink: 2;
    flex-wrap: nowrap;
}
.player {
    display: flex;
    flex-direction: column;
}

.versus {
    flex-shrink: 3;
}

#playerWeapon {
    border: solid 10px rgb(30, 14, 77);
    border-radius: 50%;
}

#computerWeapon {
    border: solid 10px rgb(101, 29, 3);
    border-radius: 50%;
}

.score > h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.score > h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.choices {
    /*display: flex;*/
    display: none;
    flex-direction: row;
    justify-content: center;
    
    gap: 20px;
}
.choices > img {
    width: 200px;
    height: 200px;
    border: solid 10px red;
    border-radius: 50%;
}

h1, h2, p {
    text-align: center;
}

p {
    font-size: 24px;
}